:root {
  --content-max-width: 100%;
  --modal-max-width: 100%;
}

@media (min-width: 50rem) {
  :root {
    --content-max-width: 45rem;
    --modal-max-width: 40rem;
  }
}

@media (min-width: 75rem) {
  :root {
    --content-max-width: 64rem;
    --modal-max-width: 55rem;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/roboto-regular.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="file"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap, .footer__wrap {
  padding: 0 2rem;
}

.footer__wrap {
  background: #F1F1F1;
}

.header, .content, .footer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max-width, 100%);
}

.header {
  display: flex;
  align-items: center;
}

.header__search {
  position: relative;
  margin: 0 0 0 auto;
}

.header__search-field {
  width: 15rem;
  height: 3rem;
  margin: 0;
  padding: 0 3rem 0 0;
  border: 1px solid #C7D2E9;
  border-radius: 1.5rem;
}

.header__search-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
