:root {
  --content-max-width: 100%;
  --modal-max-width: 100%;
  --animation-duration-fast: 0.1s;
  --animation-duration-slow: 0.25s;
  --accent-color: #5D16D5;
}

@media (prefers-reduced-motion) {
  :root {
    --animation-duration-fast: 0;
    --animation-duration-slow: 0;
  }
}

@media (min-width: 50rem) {
  :root {
    --content-max-width: 45rem;
    --modal-max-width: 40rem;
  }
}

@media (min-width: 75rem) {
  :root {
    --content-max-width: 64rem;
    --modal-max-width: 55rem;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/roboto-regular.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

svg, img {
  display: block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="file"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap, .footer__wrap {
  padding: 0 2rem;
}

.footer__wrap {
  background: #F1F1F1;
}

.header, .content, .footer {
  margin: 2rem auto;
  width: 100%;
  max-width: var(--content-max-width, 100%);
}

.content__section {
  font-size: 1.25rem;
}

.content__section p {
  max-width: 44rem;
}

.content__section a {
  color: #5D16D5;
  text-decoration: none;
}

.content__section a:hover,
.content__section a:focus {
  text-decoration: underline;
}

.content__title {
  margin: 4rem 0 2.5rem;
  font-size: 3rem;
  font-weight: 400;
}

.content__video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% / 16 * 9);
}

.content__video-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  display: flex;
  gap: 1rem;
  padding: 4.5rem 0 6rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.footer__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1rem;
}

.footer__link-item {
  color: #000;
  text-decoration: none;
  margin: 0 0 1rem;
}

.footer__link-item:hover,
.footer__link-item:focus {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  color: #000;
  text-decoration: none;
  margin: 0 0 1rem;
}

.subscription-form {
  display: grid;
  gap: 1rem;
  grid-template-areas: 'email submit' 'legal legal';
  grid-template-columns: auto min-content;
}

.subscription-form__email-field {
  grid-area: email;
  display: flex;
  flex-direction: column;
}

.subscription-form__field {
  height: 2rem;
  border-width: 0 0 1px 0;
  background-color: transparent;
}

.subscription-form__legal-field {
  grid-area: legal;
  display: flex;
}

.subscription-form__checkbox {
  order: -1;
  padding: 0;
  margin: 0 0.5rem 0 0;
  width: 1.5rem;
  height: 100%;
}

.subscription-form__submit {
  grid-area: submit;
  min-height: 2rem;
  margin: auto 0 0;
  padding: 0 2rem;
  border: 0;
  border-radius: 0.5rem;
  background: #5D16D5;
  color: #fff;
}
